{% extends "TSW2/layout.html" %}
{% load static %}

{% block body %}
    <div class="titleDivsLg">
        <img src="https://williamraineyapplication.files.wordpress.com/2021/10/homeheader.png" class="bgImg">
    </div>
    <br>
    <br>
    <div style="margin-left: 26%">
        <p class="articleHeaders" style="font-size: 60px; width: 70%; text-align:center; margin-right: 20px">Welcome to Train Sim World 2, the world's premiere train simulation game</p>
        <br>
        <p class="comparisonParagraphs" style="text-align: center; margin-left: 5%;">
            From lightning fast commuter lines, to monstrous unit coal trains,
            Train Sim World 2 has it all. Spend just a few minutes in the engineer's seat, and you'll find yourself completly immersed in a world filled with
            speed, power, and the sound of screaming steel. Still not convinced that you should be playing Train Sim World 2? Check out the content on this website
            to get a taste of the game before you try it for yourself.  
        </p>
    </div>
            
    
    <br>
    <hr style="background-color: rgb(248, 239, 207); width: 80%">
    <div class="articleContainer">
        <h2 class="articleHeaders">Video Review:</h2>
    </div>
    <br>
    <br>
    <div class="videoDiv">
        <iframe width="768" height="432" src="https://youtube.com/embed/hxqkzlc8tfo" allowfullscreen frameborder=0>
        </iframe>
    </div>
    <br>
    <br>
    
    
{% endblock %}